.main {
    width: 975px;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: absolute;
    right: 0;
    padding-top: 56px;

    @import './tweets';
    @import './trend';
}
