.main {
    width: 975px;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: absolute;
    right: 0;
    padding-top: 56px;

    .content {
        width: 600px;
        height: 100%;

        .search{
            width: 100%;
            position: relative;

            input {
                background: none;
                font-family: 'Roboto';
                letter-spacing: 0.05rem;
                outline: none;
                border: none;
                width: calc(100% - 65px);
                padding: 0 60px 12px 5px;
                border-bottom: 2px solid #FFFFFF;
                font-size: 32px;
                color: #fff;
            }

            .searchBtn {
                position: absolute;
                right: 10px;
                cursor: pointer;
            }
        }
    }

    .trend {
        border-left: 1px solid $border;
        @include flexCenter();
        align-items: flex-start;
        
        .trending-box {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 275px;
            height: 520px;
            background: #22303E;
            border-radius: 20px;

            .head {
                width: 245px;
                padding: 20px;
                font-weight: bold;
                font-size: 24px;
            }

            span:not(.head) {
                width: 245px;
                padding: 15px 0 15px 5px;
                font-weight: 500;
                font-size: 22px;
                cursor: pointer;
                border-bottom: 1px solid $trendBorder;

                &:hover {
                    background: $trendBorder;
                }
            }
        }
    }
}