// Active page
.active {
    color: $primary;

    &::after {
        content: '';
        width: 3.5px;
        height: 100%;
        position: absolute;
        right: -1px;
        background-color: $primary;
    }
}
// Active page



.navBar {
    position: fixed;
    width: 175px;
    border-right: 1px solid $border;
    padding-top: 56px;
    @include flexCenter();
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;

    .icon {
        margin-bottom: 40px;
    }

    .twitter {
        font-size: 40px;
    }

    .navItem {
        @include flexCenter();
        position: relative;
        width: 100%;
        height: 66px;
        font-size: 32px;
        margin-bottom: 40px;
    }

    .avatar {
        @include flexCenter();
        width: 45px;
        height: 45px;
        border-radius: 50%;
        cursor: pointer;
        overflow: hidden;
    }
}