$primary: #03A9F4;
$border: #1F2E3D;
$trendBorder: #384C61;
$trend: #22303E;
$arrow: #425160;
$nextHover: #202a35;
$text: #f8f8f8;

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}