$primary: #03A9F4;
$border: #1F2E3D;
$trendBorder: #384C61;
$trend: #22303E;
$arrow: #425160;
$arrowHover: #55677a;
$textAndIcon: rgb(248, 248, 248);

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}